<!-- empl_form.tmpl-->
<html>
<body>
<head>
<h1>Please fill the form to register a new employe:</h1>
<form action="empl_form.pl">
<p>User name:<input name='uname'>
<p>Name:<input name='name'>
<p>Password:<input name='pass'>
<p>Pesonal_No:<input name='personal_n'>
<p>Status:<input name='status'>
<p><input type="submit" value="Add new employee"/>
</form>
<form action="empl_list.pl">
<p><input type="submit" value="All employees"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</head>
</html>
