<!--empl_list.tmpl-->
<html>
<head>
<title>Employees Listing</title>
</head>
<body>
<h1>Employees:</h1>
<table>
<TMPL_LOOP NAME=ROWS>
	<p>
		<TMPL_VAR NAME=RECNO>. <TMPL_VAR NAME=USER_NAME></br>
		<TMPL_VAR NAME=NAME></br>	
		<TMPL_VAR NAME=PERSONAL_NO></br>
		<TMPL_VAR NAME=STATUS></br>

	</p>
</TMPL_LOOP>
</table>
<form action="empl_form.pl">
<input type="submit" value="Register a new employee"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</body>
</html>

	
