<!--index.tmpl-->
<html>
<body>
<head>
<title>Administrator Actions</title>
<h1>Please select action:</h1>
<form action="partners_list.pl">
<p><input type="submit" value="Administrate partners">
</form>
<form action="obj_list.pl">
<p><input type="submit" value="Administrate objects">
</form>
<form action="empl_list.pl">
<p><input type="submit" value="Administrate employees">
</form>
<form action="oes_list.pl">
<p><input type="submit" value="Administrate sells">
</form>
