<!-- obj_form.tmpl-->
<html>
<body>
<head>
<h1>Please fill the form to register a new object:</h1>
<form action="obj_form.pl">
<p>Name:<input name='name'>
<p>EXT-POS-UNIQUE-ID:<input name='pos'>
<p>Adress:<input name='adress'>
<p>Employees count:<input name = 'emp_count'>
<p>Status:<input name='status'>
<p><input type="submit" value="Add new object"/>
</form>
<form action="obj_list.pl">
<p><input type="submit" value="All objects"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</head>
</html>
