<!--oes_list.tmpl-->
<html>
<head>
<title>SELLS</title>
</head>
<body>
<h1>SELLS:</h1>
<table>
<TMPL_LOOP NAME=ROWS>
	<p>
		<TMPL_VAR NAME=RECNO>
	 OBJECT:<TMPL_VAR NAME=OBJ_RECNO></br>
	EMPLOYE:<TMPL_VAR NAME=EMPL_RECNO></br>	
	DATE:<TMPL_VAR NAME=DATE></br>
	SELLS:<TMPL_VAR NAME=SELL_TYPE></br>
	SUM:<TMPL_VAR NAME=SUM></br>
	STATUS:<TMPL_VAR NAME=STATUS></br>

	</p>
</TMPL_LOOP>
</table>
<form action="oes_form.pl">
<input type="submit" value="Register a new sell"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</body>
</html>

	
