<!-- oes_form.tmpl-->
<html>
<body>
<head>
<h1>Please fill the form to register a new employe:</h1>
<form action="oes_form.pl">
<p>Object id:<input name='obj_recno'>
<p>Employee id:<input name='empl_recno'>
<p>Operation type:<input name='sell_type'>
<p>Sum:<input name='sum'>
<p>Status:<input name='status'>
<p><input type="submit" value="Add new sell"/>
</form>
<form action="oes_list.pl">
<p><input type="submit" value="Sells"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</head>
</html>
