<!--partners_form.tmpl-->
<html>
<body>
<head>
<h1>Please fill the form to register a new partner:</h1>
<form action="partners_form.pl">
<p>Name:<input name='name'>
<p>Adress:<input name='adress'>
<p>Status:<input name='status'>
<p><input type="submit" value="Add new partner"/>
</form>
<form action="partners_list.pl">
<p><input type="submit" value="Partners"/>
</form>
<form action="index.cgi">
<p><input type="submit" value="Home"/>
</form>
</head>
</html>
